USE [master]
GO
/****** Object:  Database [Shinobi]    Script Date: 5/18/2023 1:52:58 PM ******/
CREATE DATABASE [Shinobi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shinobi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Shinobi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shinobi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Shinobi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shinobi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shinobi]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [nvarchar](50) NOT NULL,
	[RoleInGameID] [nvarchar](20) NOT NULL,
	[TrophiesID] [nvarchar](20) NOT NULL,
	[Level] [int] NULL,
	[Health] [int] NULL,
	[CurrentHealth] [int] NULL,
	[Charka] [int] NULL,
	[CurrentCharka] [int] NULL,
	[Exp] [int] NULL,
	[Speed] [int] NULL,
	[Coin] [int] NULL,
	[Power] [int] NULL,
	[Strength] [int] NULL,
	[CurrentStrength] [int] NULL,
	[EyeID] [nvarchar](20) NOT NULL,
	[HairID] [nvarchar](20) NOT NULL,
	[MouthID] [nvarchar](20) NOT NULL,
	[SkinID] [nvarchar](20) NOT NULL,
	[IsDead] [bit] NULL,
	[IsOnline] [bit] NULL,
	[IsTicket] [bit] NULL,
	[IsFirst] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountEquipment]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountEquipment](
	[AccountID] [nvarchar](50) NOT NULL,
	[EquipmentID] [nvarchar](20) NOT NULL,
	[Level] [int] NULL,
	[Health] [int] NULL,
	[Damage] [int] NULL,
	[Chakra] [int] NULL,
	[IsUse] [bit] NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountItem]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountItem](
	[AccountID] [nvarchar](50) NOT NULL,
	[ItemID] [nvarchar](20) NOT NULL,
	[Amount] [int] NULL,
	[Limit] [bit] NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountMailBox]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountMailBox](
	[AccountID] [nvarchar](50) NOT NULL,
	[MailBoxID] [nvarchar](20) NOT NULL,
	[RankID] [nvarchar](20) NOT NULL,
	[Rank] [int] NULL,
	[IsClaim] [bit] NULL,
	[IsRead] [bit] NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[MailBoxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountMission]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountMission](
	[AccountID] [nvarchar](50) NOT NULL,
	[MissionID] [nvarchar](20) NOT NULL,
	[Current] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[MissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountSkill]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountSkill](
	[AccountID] [nvarchar](50) NOT NULL,
	[SkillID] [nvarchar](20) NOT NULL,
	[Level] [int] NULL,
	[Cooldown] [float] NULL,
	[Damage] [int] NULL,
	[Chakra] [int] NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountWeapon]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountWeapon](
	[AccountID] [nvarchar](50) NOT NULL,
	[WeaponID] [nvarchar](20) NOT NULL,
	[Level] [int] NULL,
	[Damage] [int] NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[WeaponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boss]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boss](
	[ID] [nvarchar](20) NOT NULL,
	[TypeBossID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Health] [int] NULL,
	[Speed] [int] NULL,
	[CoinBonus] [int] NULL,
	[ExpBonus] [int] NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[ID] [nvarchar](20) NOT NULL,
	[TypeEquipmentID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Health] [int] NULL,
	[Damage] [int] NULL,
	[Chakra] [int] NULL,
	[UpgradeCost] [int] NULL,
	[Uppercent] [int] NULL,
	[SellCost] [int] NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[ID] [nvarchar](20) NOT NULL,
	[BossID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Weekday] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eye]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eye](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hair]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hair](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[HealthBonus] [int] NULL,
	[ChakraBonus] [int] NULL,
	[DamageBonus] [int] NULL,
	[BuyCost] [int] NULL,
	[Limit] [int] NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailBox]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailBox](
	[ID] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsRank] [bit] NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mission]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mission](
	[ID] [nvarchar](20) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Level] [int] NULL,
	[Target] [int] NULL,
	[ExpBonus] [int] NULL,
	[CoinBonus] [int] NULL,
	[Image] [nvarchar](100) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mouth]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mouth](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[ID] [nvarchar](20) NOT NULL,
	[EquipmentIDBonus] [nvarchar](20) NOT NULL,
	[IsEvent] [bit] NOT NULL,
	[Rank] [int] NOT NULL,
	[CoinBonus] [int] NULL,
	[EquipmentAmount] [int] NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleInGame]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleInGame](
	[ID] [nvarchar](20) NOT NULL,
	[WeaponID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[ID] [nvarchar](20) NOT NULL,
	[RoleInGameID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Cooldown] [float] NULL,
	[Damage] [int] NULL,
	[Chakra] [int] NULL,
	[Uppercent] [int] NULL,
	[LevelUnlock] [int] NULL,
	[UpgradeCost] [int] NULL,
	[BuyCost] [int] NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillBoss]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillBoss](
	[ID] [nvarchar](20) NOT NULL,
	[BossID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Damage] [int] NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skin]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skin](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trophies]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trophies](
	[ID] [nvarchar](20) NOT NULL,
	[BossID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ContraitLevelAccount] [int] NULL,
	[Cost] [int] NULL,
	[Image] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeBoss]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeBoss](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeEquipment]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeEquipment](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weapon]    Script Date: 5/18/2023 1:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weapon](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Damage] [int] NULL,
	[Uppercent] [int] NULL,
	[UpgradeCost] [int] NULL,
	[Image] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([ID], [RoleInGameID], [TrophiesID], [Level], [Health], [CurrentHealth], [Charka], [CurrentCharka], [Exp], [Speed], [Coin], [Power], [Strength], [CurrentStrength], [EyeID], [HairID], [MouthID], [SkinID], [IsDead], [IsOnline], [IsTicket], [IsFirst]) VALUES (N'SJIJJ71XjAZh6vhY19IIbxrRnYt1', N'Role_Melee', N'Trophie_None', 1, 1000, 1000, 1000, 1000, 0, 5, 0, 0, 100, 100, N'Eye_Byakugan', N'Hair_Naruto', N'Mouth_Normal', N'Skin_Naruto', 0, 1, 0, 0)
GO
INSERT [dbo].[AccountSkill] ([AccountID], [SkillID], [Level], [Cooldown], [Damage], [Chakra], [Delete]) VALUES (N'SJIJJ71XjAZh6vhY19IIbxrRnYt1', N'Skill_MeleeOne', 1, 5, 10, 15, 0)
INSERT [dbo].[AccountSkill] ([AccountID], [SkillID], [Level], [Cooldown], [Damage], [Chakra], [Delete]) VALUES (N'SJIJJ71XjAZh6vhY19IIbxrRnYt1', N'Skill_MeleeThree', 1, 5, 10, 15, 0)
INSERT [dbo].[AccountSkill] ([AccountID], [SkillID], [Level], [Cooldown], [Damage], [Chakra], [Delete]) VALUES (N'SJIJJ71XjAZh6vhY19IIbxrRnYt1', N'Skill_MeleeTwo', 1, 5, 10, 15, 0)
GO
INSERT [dbo].[AccountWeapon] ([AccountID], [WeaponID], [Level], [Damage], [Delete]) VALUES (N'SJIJJ71XjAZh6vhY19IIbxrRnYt1', N'Weapon_Sword', 1, 15, 0)
GO
INSERT [dbo].[Boss] ([ID], [TypeBossID], [Name], [Health], [Speed], [CoinBonus], [ExpBonus], [Image], [Description], [Delete]) VALUES (N'Boss_Bat', N'BossType_Normal', N'Dơi Qủy', 100, 5, 100, 100, N'Image', N'Description', 0)
INSERT [dbo].[Boss] ([ID], [TypeBossID], [Name], [Health], [Speed], [CoinBonus], [ExpBonus], [Image], [Description], [Delete]) VALUES (N'Boss_Kakashi', N'BossType_Event', N'Kakashi', 100, 5, 100, 100, N'Image', N'Description', 0)
GO
INSERT [dbo].[Eye] ([ID], [Name], [Image], [Delete]) VALUES (N'Eye_Byakugan', N'Bạch Nhãn', N'Creator/Eye_Byakugan', 0)
INSERT [dbo].[Eye] ([ID], [Name], [Image], [Delete]) VALUES (N'Eye_Rinnegan', N'Mắt Rinnegan', N'Creator/Eye_Rinnegan', 0)
INSERT [dbo].[Eye] ([ID], [Name], [Image], [Delete]) VALUES (N'Eye_Sharingan', N'Mắt Sharingan', N'Creator/Eye_Sharingan', 0)
GO
INSERT [dbo].[Hair] ([ID], [Name], [Image], [Delete]) VALUES (N'Hair_Naruto', N'Tóc Naruto', N'Creator/Hair_Naruto', 0)
INSERT [dbo].[Hair] ([ID], [Name], [Image], [Delete]) VALUES (N'Hair_Sasuke', N'Tóc Sasuke', N'Creator/Hair_Sasuke', 0)
GO
INSERT [dbo].[Mouth] ([ID], [Name], [Image], [Delete]) VALUES (N'Mouth_BigSmile', N'Miệng bự', N'Creator/Mouth_BigSmile', 0)
INSERT [dbo].[Mouth] ([ID], [Name], [Image], [Delete]) VALUES (N'Mouth_Normal', N'Miệng bình thường', N'Creator/Mouth_Normal', 0)
INSERT [dbo].[Mouth] ([ID], [Name], [Image], [Delete]) VALUES (N'Mouth_Sad', N'Miệng buồn', N'Creator/Mouth_Sad', 0)
GO
INSERT [dbo].[RoleInGame] ([ID], [WeaponID], [Name], [Delete]) VALUES (N'Role_Melee', N'Weapon_Sword', N'Cận Chiến', 0)
INSERT [dbo].[RoleInGame] ([ID], [WeaponID], [Name], [Delete]) VALUES (N'Role_Range', N'Weapon_Dart', N'Viễn Chiến', 0)
INSERT [dbo].[RoleInGame] ([ID], [WeaponID], [Name], [Delete]) VALUES (N'Role_Support', N'Weapon_Glove', N'Hỗ Trợ', 0)
GO
INSERT [dbo].[Skill] ([ID], [RoleInGameID], [Name], [Cooldown], [Damage], [Chakra], [Uppercent], [LevelUnlock], [UpgradeCost], [BuyCost], [Image], [Description], [Delete]) VALUES (N'Skill_BigDart', N'Role_Range', N'Phi tiêu khổng lồ', 5, 20, 15, 5, 1, 100, 100, N'Image', N'Description', 0)
INSERT [dbo].[Skill] ([ID], [RoleInGameID], [Name], [Cooldown], [Damage], [Chakra], [Uppercent], [LevelUnlock], [UpgradeCost], [BuyCost], [Image], [Description], [Delete]) VALUES (N'Skill_MeleeOne', N'Role_Melee', N'Kiếm chính nghĩa', 5, 0, 10, 5, 1, 100, 100, N'Image', N'Description', 0)
INSERT [dbo].[Skill] ([ID], [RoleInGameID], [Name], [Cooldown], [Damage], [Chakra], [Uppercent], [LevelUnlock], [UpgradeCost], [BuyCost], [Image], [Description], [Delete]) VALUES (N'Skill_MeleeThree', N'Role_Melee', N'', 5, 20, 10, 5, 1, 100, 100, N'', N'', 0)
GO
INSERT [dbo].[SkillBoss] ([ID], [BossID], [Name], [Damage], [Image], [Description], [Delete]) VALUES (N'SkillBoss_Chidori', N'Boss_Kakashi', N'Lôi Điện', 1, N'Image', N'Description', 0)
GO
INSERT [dbo].[Skin] ([ID], [Name], [Image], [Delete]) VALUES (N'Skin_Naruto', N'Trang Phục Naruto', N'Creator/Skin_Naruto', 0)
INSERT [dbo].[Skin] ([ID], [Name], [Image], [Delete]) VALUES (N'Skin_Shinobi', N'Trang Phục Shinobi', N'Creator/Skin_Shinobi', 0)
GO
INSERT [dbo].[Trophies] ([ID], [BossID], [Name], [ContraitLevelAccount], [Cost], [Image], [Description], [Delete]) VALUES (N'Trophie_Chunin', N'Boss_Kakashi', N'Trung đẳng', 10, 100, N'Image', N'Description', 0)
INSERT [dbo].[Trophies] ([ID], [BossID], [Name], [ContraitLevelAccount], [Cost], [Image], [Description], [Delete]) VALUES (N'Trophie_Genin', N'Boss_Kakashi', N'Hạ đẳng', 10, 100, N'Image', N'Description', 0)
INSERT [dbo].[Trophies] ([ID], [BossID], [Name], [ContraitLevelAccount], [Cost], [Image], [Description], [Delete]) VALUES (N'Trophie_Jonin', N'Boss_Kakashi', N'Thượng đẳng', 10, 100, N'Image', N'Description', 0)
GO
INSERT [dbo].[TypeBoss] ([ID], [Name], [Delete]) VALUES (N'BossType_Arena', N'Đấu trường', 0)
INSERT [dbo].[TypeBoss] ([ID], [Name], [Delete]) VALUES (N'BossType_Event', N'Sự kiện', 0)
INSERT [dbo].[TypeBoss] ([ID], [Name], [Delete]) VALUES (N'BossType_Normal', N'Quái thường', 0)
GO
INSERT [dbo].[Weapon] ([ID], [Name], [Damage], [Uppercent], [UpgradeCost], [Image], [Description], [Delete]) VALUES (N'Weapon_Dart', N'Phi tiêu', 15, 5, 100, N'Creator/Dart', N'Phi tiêu', 0)
INSERT [dbo].[Weapon] ([ID], [Name], [Damage], [Uppercent], [UpgradeCost], [Image], [Description], [Delete]) VALUES (N'Weapon_Glove', N'Bao tay', 30, 5, 100, N'Creator/Glove', N'Bao tay', 0)
INSERT [dbo].[Weapon] ([ID], [Name], [Damage], [Uppercent], [UpgradeCost], [Image], [Description], [Delete]) VALUES (N'Weapon_Sword', N'Kiếm', 25, 5, 100, N'Creator/Sword', N'Kiếm', 0)
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([EyeID])
REFERENCES [dbo].[Eye] ([ID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([HairID])
REFERENCES [dbo].[Hair] ([ID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([MouthID])
REFERENCES [dbo].[Mouth] ([ID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleInGameID])
REFERENCES [dbo].[RoleInGame] ([ID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([SkinID])
REFERENCES [dbo].[Skin] ([ID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([TrophiesID])
REFERENCES [dbo].[Trophies] ([ID])
GO
ALTER TABLE [dbo].[AccountEquipment]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[AccountEquipment]  WITH CHECK ADD FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([ID])
GO
ALTER TABLE [dbo].[AccountItem]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[AccountItem]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ID])
GO
ALTER TABLE [dbo].[AccountMailBox]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[AccountMailBox]  WITH CHECK ADD FOREIGN KEY([MailBoxID])
REFERENCES [dbo].[MailBox] ([ID])
GO
ALTER TABLE [dbo].[AccountMailBox]  WITH CHECK ADD FOREIGN KEY([RankID])
REFERENCES [dbo].[Rank] ([ID])
GO
ALTER TABLE [dbo].[AccountMission]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[AccountMission]  WITH CHECK ADD FOREIGN KEY([MissionID])
REFERENCES [dbo].[Mission] ([ID])
GO
ALTER TABLE [dbo].[AccountSkill]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[AccountSkill]  WITH CHECK ADD FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skill] ([ID])
GO
ALTER TABLE [dbo].[AccountWeapon]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[AccountWeapon]  WITH CHECK ADD FOREIGN KEY([WeaponID])
REFERENCES [dbo].[Weapon] ([ID])
GO
ALTER TABLE [dbo].[Boss]  WITH CHECK ADD FOREIGN KEY([TypeBossID])
REFERENCES [dbo].[TypeBoss] ([ID])
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD FOREIGN KEY([TypeEquipmentID])
REFERENCES [dbo].[TypeEquipment] ([ID])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([BossID])
REFERENCES [dbo].[Boss] ([ID])
GO
ALTER TABLE [dbo].[Rank]  WITH CHECK ADD FOREIGN KEY([EquipmentIDBonus])
REFERENCES [dbo].[Equipment] ([ID])
GO
ALTER TABLE [dbo].[RoleInGame]  WITH CHECK ADD FOREIGN KEY([WeaponID])
REFERENCES [dbo].[Weapon] ([ID])
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD FOREIGN KEY([RoleInGameID])
REFERENCES [dbo].[RoleInGame] ([ID])
GO
ALTER TABLE [dbo].[SkillBoss]  WITH CHECK ADD FOREIGN KEY([BossID])
REFERENCES [dbo].[Boss] ([ID])
GO
ALTER TABLE [dbo].[Trophies]  WITH CHECK ADD FOREIGN KEY([BossID])
REFERENCES [dbo].[Boss] ([ID])
GO
USE [master]
GO
